.random-planet {
    background-color: darkslategrey;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.planet-image {
    width: 200px;
    background-color: #282c34;
    margin-right: 25px;
}
