img {
    max-width: 200px;
}
.item-details{
    display: flex;
    background-color: #282c34;
    padding: 15px;
}

.item-image {
    box-shadow: 2px 2px 3px #1d0e0b;
    border-radius: 5px;
    margin-right: 15px;
}

