.header {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.header-title {
    border-right: 1px solid darkgray ;
    padding-right: 20px;
}
.header-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.header-menu > a {
    margin-top: 5px;
    margin-right: 25px;
    cursor: pointer;
    transition: padding-bottom 1s;
}
.header-menu > li:hover {
    border-bottom: 1px solid darkgray;
}

